<div id="undoText">
    <h1>Success!</h1>
    <br>
    <p>Income added successfully! Would you like to undo?</p>
</div>
<h2 id="undoMessage"></h2>
<form action="/income/undo" method="GET">
        <button onclick="undoIncome()">I made a mistake!</button>
        <button onclick="window.close()">Nah, I'm good</button>
    </form>

<script>
    const mysql = require('./public/database/database_con.js')
    function undoIncome() {
        let query = "DELETE FROM `Income` WHERE `id` in(SELECT MAX(id) FROM `Income`)";
         sql = mysql.pool.query(query, function (error, results, fields) {
            if(error) {
                console.log(error);
            } else {
                let sucMes = "Successfully Undone! Window will close automatically in 3 seconds."
                document.getElementById('undoMessage').innerText = sucMes;
                setTimeout (function () {
                    window.close();
                }, 3000);
            }
        })
    }
</script>