<div id="undoText">
    <h1>Success!</h1>
    <br>
    <p>Expense added successfully! Would you like to undo?</p>
</div>
<h2 id="undoMessage"></h2>
<form action="/expense/undo" method="GET">
    <button onclick="delExpense()">I made a mistake!</button>
    <button onclick="window.close()">Nah, I'm good</button>
</form>

<script>
    function delExpense() {
        fetch()
        let query = "DELETE FROM `Expense` WHERE `id` in(SELECT MAX(id) FROM `Expense`)";
        sql = mysql.pool.query(query, function (error, results, fields) {
            if(error) {
                console.log(error);
            } else {
                let sucMes = "Successfully Undone! Window will close automatically in 3 seconds."
                document.getElementById('undoMessage').innerText = sucMes;
                setTimeout (function () {
                    window.close();
                }, 3000);
            }
        })
    }
</script>